# Secrets
.env
*.key

# Data
data/
*.parquet
*.csv
!sample_data/*.csv

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
venv/

# Airflow
logs/
airflow.db
airflow.cfg
standalone_admin_password.txt

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Streamlit
.streamlit/secrets.toml
